{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "endOfLine": "auto",
  "formatOnSave": true,
  "importOrder": [
    "^@assets/(.*)$",
    "^@constants$",
    "^@utils/(.*)$",
    "^@styles/(.*)$",
    "^@api/(.*)$",
    "^@context/(.*)$",
    "^@pages/(.*)$",
    "^@layouts/(.*)$",
    "^@components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
